.navbar {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.subline {
    border-bottom: 3px solid steelblue;
}

.frontpage {
    margin: 80px 200px 0px 200px;
    border-bottom: 3px dotted steelblue;
}

@media .query {
    
}

.portrait {
    border-radius: 50%;
    width:250px;
    padding: 10px;
    box-shadow: 2pt 6pt 2pt steelblue;
}

.footer {
    background-color: rgba(244, 169, 78, 0.691);
    padding: 60px;
    font-family: 'Courier New', Courier, monospace;
}

.footnote {
    font-size: 10px;
    text-align: center;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;

}