.navbar {
    font-family: 'Courier New', Courier, monospace;
}

.subline {
    border-bottom: 3px solid steelblue;
    display: inline-block;
}

.frontpage {
    margin: 80px 200px 0px 200px;
    border-bottom: 3px dotted steelblue;
    display: inline-block;
    padding: 0 20px 0 10px;
}


@media  {
    
}

.portrait {
    border-radius: 50%;
    width:250px;
    padding: 10px;
    box-shadow: 2pt 6pt 2pt steelblue;
}

.footer {
    background-color: rgba(244, 169, 78, 0.691);
    padding: 60px;
    font-family: 'Courier New', Courier, monospace;
}

.footnote {
    font-size: 10px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    font-family: 'Courier New', Courier, monospace;

}

.work-screenshot {
    border-radius: 50% 20% / 10% 40%;
    border: 1px solid steelblue;
    padding: 0;
}

.portfolio {
    margin-top: 120px;
    margin-bottom: 40px;
    font-size: 44pt;
}
